<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
</head>


        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Casino</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <% if(!currentUser){ %>
                    <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %> nav-item"><a
                        class="nav-link" href="/login">Login</a></li>
                    <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %> nav-item"><a
                            class="nav-link" href="/register">Sign
                            Up</a></li>
                    <% } else { %>
                    <li class="nav-item"><a class="nav-link"href="#">Signed In As
                            <%= currentUser.username %></a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <% } %>

                    <li class="nav-item">
                        <a class="nav-link" href="/blackjack">Black Jack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hotandcold">Hot and Cold</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/slots">Slots</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
            <% } %>
        </div>
        <div class="container">